<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <h1 class="page-title">New Message</h1>
        <p class="text-muted">Create a message template to be used in communications.</p>
      </header>
      <div class="page-section">
        <div class="row">
          <div class="col-lg-8">
            <form [formGroup]="messageForm">
              <div class="message-template-fields">
                <span *ngFor="let field of fields" (click)="addTemplateField(field)" class="badge badge-secondary mr-1 mb-3 py-1 px-2">{{ field.name }}</span>
              </div>
              <div class="form-group">
                <div class="input-group input-group-alt">
                  <div class="input-group">
                    <input formControlName="name" type="text" class="form-control" placeholder="Message name">
                  </div>
                  <div class="input-group-append">
                    <select formControlName="type" class="custom-select">
                      <option value="sms">Text Message</option>
                      <option valus="email">Email</option>
                    </select>
                  </div>
                </div>
              </div>
              <div *ngIf="isSMS" class="form-group">
                <textarea formControlName="smsText" class="form-control" rows="10"></textarea>
                <small class="text-muted" style="float: right;">{{ smsTextLength }} / 300 characters</small>
              </div>
              <div *ngIf="isEmail">
                <div [ngxSummernote]="config" formControlName="emailHtml"></div>
              </div>
              <div><br>
                <button [disabled]="!messageForm.get('name').value" (click)="saveMessage(false)" type="button" class="btn btn-secondary mt-3">Save</button>
                <button [disabled]="!messageForm.valid || (!messageForm.get('smsText').value && !messageForm.get('emailHtml').value)" (click)="saveMessage(true)" type="button" class="btn btn-primary mt-3 float-right">Publish</button>
              </div>
            </form>
          </div>
          <div class="col-lg-4 mt-3 mt-lg-0">
            <div class="card">
              <div class="card-header">
                <h6><strong>Message Options</strong></h6>
              </div>
              <div class="card-body">
                <h6><strong>Groups</strong></h6>
                <div class="list-group list-group-flush list-group-bordered mb-3">
                  <div *ngFor="let group of groups" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ group.name }}</span>
                    <label class="switcher-control">
                      <input type="checkbox" class="switcher-input">
                      <span class="switcher-indicator"></span>
                    </label>
                  </div>
                </div>
                <h6><strong>Segments</strong></h6>
                <div class="list-group list-group-flush list-group-bordered mb-3">
                  <div *ngFor="let segment of segments" class="list-group-item d-flex justify-content-between align-items-center">
                    <span>{{ segment.name }}</span>
                    <label class="switcher-control">
                      <input type="checkbox" class="switcher-input">
                      <span class="switcher-indicator"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>