<div class="page-section">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-fluid">
        <h6 class="card-header">Profile Settings</h6>
        <nav class="nav nav-tabs flex-column border-0">
          <a href="#" class="nav-link">General Info</a>
          <a href="#" class="nav-link">Agents</a>
        </nav>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-fluid">
        <h6 class="card-header">
          General Info
        </h6>
        <div class="card-body">
          <div class="table-responsive">
            <form>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>