<div class="page-section">
  <div class="row">
    <div class="col-lg-4">
      <div class="card card-fluid">
        <h6 class="card-header">Contacts Settings</h6>
        <nav class="nav nav-tabs flex-column border-0">
          <a href="#" class="nav-link">Custom Fields</a>
        </nav>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card card-fluid">
        <h6 class="card-header">
          Custom Fields
          <small>
            <a href="#">
              <i class="fas fa-plus"></i>
            </a>
          </small>
        </h6>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover table-borderless">
              <thead class="thead-">
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Required</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Favorite Color</td>
                  <td>Text</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>Birthday</td>
                  <td>Date</td>
                  <td>No</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>