<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <div class="d-flex justify-content-between">
          <h1 class="page-title">Groups</h1>
          <div class="btn-toolbar">
            <button (click)="addGroup()" type="button" class="btn btn-sm btn-link">
              <i class="fas fa-plus"></i> Add
            </button>&nbsp;
            <button type="button" class="btn btn-link">
              <i class="fas fa-print"></i> Print
            </button>
          </div>
        </div>
      </header>
      <div class="page-section">
        <div class="card card-fluid">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="input-group has-clearable">
                  <button type="button" class="close" aria-label="Close">
                  <span aria-hidden="true">
                    <i class="fas fa-times-circle"></i>
                  </span>
                </button>
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fas fa-search"></i>
                  </span>
                </div>
                <input [(ngModel)]="searchText" (input)="filterGroups()" type="text" class="form-control" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content">
          <div class="list-group list-group-flush list-group-divider">
            <div *ngFor="let group of filteredGroups" class="list-group-item">
              <div class="list-group-item-figure">
                <a class="user-avatar user-avatar-md  d-none d-sm-block">
                  <i class="fas fa-users"></i>
                </a>
              </div>
              <div class="list-group-item-body">
                <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                  <div class="team">
                    <h4 class="list-group-item-title">{{ group.name }}</h4>
                    <p class="list-group-item-text">Created 2 months ago</p>
                  </div>
                  <ul class="list-inline text-muted mb-0">
                    <li class="list-inline-item mr-3">
                      
                    </li>
                  </ul>
                </div>
              </div>
              <div class="list-group-item-figure">
                <button (click)="sendSMS(group)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                  <i class="fas fa-sms"></i>
                </button>
                <button (click)="sendEmail(group)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                  <i class="fas fa-envelope"></i>
                </button>
                <button (click)="editGroup(group)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn btn-sm btn-icon btn-link stop-propagation d-block d-sm-none">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="filteredGroups">
            <pagination class="justify-content-center" firstText="&laquo;" lastText="&raquo;"
              [totalItems]="filteredGroups.length"
              [rotate]="paginationRotate"
              [maxSize]="maxSize"
              [itemsPerPage]="pageSize"
              [boundaryLinks]="true"
              (pageChanged)="pageChanged($event.page)">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>