<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <h1 class="page-title">New Campaign</h1>
        <p class="text-muted">Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis.</p>
      </header>
      <div class="page-section">
        <div class="section-block">
          <div id="stepper" class="bs-stepper">
            <div class="card">
              <div class="card-header">
                <div class="steps steps-">
                  <ul>
                    <li class="step active">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-users"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Recipients</span>
                      </a>
                    </li>
                    <li class="step">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Message</span>
                      </a>
                    </li>
                    <li class="step">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Confirm</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <form id="stepper-form" name="stepperForm" class="p-lg-4 p-sm-3 p-0">
                  <div class="content active dstepper-block">
                    <fieldset>
                      <legend>Select the recipients of this message</legend>
                      <div class="form-group mb-4">

                      </div>
                      <hr class="mt-5">
                      <div class="d-flex">
                        <p class="text-muted">
                          
                        </p>
                        <button type="button" class="next btn btn-primary ml-auto">Next</button>
                      </div>
                    </fieldset>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>