<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <h1 class="page-title">New Campaign</h1>
        <p class="text-muted">Lacus laoreet non curabitur gravida arcu ac tortor dignissim convallis.</p>
      </header>
      <div class="page-section">
        <div class="section-block">
          <div id="stepper" class="bs-stepper">
            <div class="card">
              <div class="card-header">
                <div class="steps steps-">
                  <ul>
                    <li class="step active">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-users"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Recipients</span>
                      </a>
                    </li>
                    <li class="step">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-sticky-note"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Message</span>
                      </a>
                    </li>
                    <li class="step">
                      <a href="#" class="step-trigger">
                        <span class="step-indicator step-indicator-icon">
                          <i class="fas fa-check"></i>
                        </span>
                        <span class="d-none d-sm-inline px-2">Confirm</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-body">
                <lns-campaign-recipients [hidden]="!campaignRecipientsShowing"></lns-campaign-recipients>
                <lns-campaign-message [hidden]="!campaignMessageShowing"></lns-campaign-message>
                <lns-campaign-confirmation [hidden]="!campaignConfirmationShowing"></lns-campaign-confirmation>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>