<form [formGroup]="organizeForm" id="stepper-form" name="stepperForm" class="p-lg-4 p-sm-3 p-0">
  <fieldset>
    <legend>Select proper import fields.</legend>
    <div class="form-row">
      <div class="col-sm-6">
        <div class="form-group pr-sm-3">
          <label for="firstNameHeading">First name</label>
          <select formControlName="firstName" id="firstNameHeading" class="form-control">
            <option value="">Select one</option>
            <option *ngFor="let header of headers" [value]="header">{{ header }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group pr-sm-3">
          <label for="lastNameHeading">Last name</label>
          <select formControlName="lastName" id="lastNameHeading" class="form-control">
            <option value="">Select one</option>
            <option *ngFor="let header of headers" [value]="header">{{ header }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-6">
        <div class="form-group pr-sm-3">
          <label for="phoneHeading">Phone number</label>
          <select formControlName="phone" id="phoneHeading" class="form-control">
            <option value="">Select one</option>
            <option *ngFor="let header of headers" [value]="header">{{ header }}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group pr-sm-3">
          <label for="emailHeading">Email addesss</label>
          <select formControlName="email" id="emailHeading" class="form-control">
            <option value="">Select one</option>
            <option *ngFor="let header of headers" [value]="header">{{ header }}</option>
          </select>
        </div>
      </div>
    </div>
    <hr class="mt-5">
    <div class="d-flex">
      <p class="text-muted">
        <button type="button" (click)="back()" class="next btn btn-secondary ml-auto">Previous</button>
      </p>
      <button type="button" (click)="organizeContacts()" [disabled]="!organizeForm.valid" class="next btn btn-primary ml-auto">Next</button>
    </div>
  </fieldset>
</form>