<div class="modal-header">
  <h4 class="modal-title pull-left">Contact</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="contactForm">
    <div class="form-row mb-3">
      <div class="col">
        <input type="text" formControlName="firstName" class="form-control" placeholder="First" autofocus>
      </div>
      <div class="col">
        <input type="text" formControlName="lastName" class="form-control" placeholder="Last">
      </div>
    </div>
    <div class="form-group">
      <input type="tel" formControlName="phone" class="form-control" placeholder="Phone">
    </div>
    <div class="form-group">
      <input type="email" formControlName="email" class="form-control" placeholder="Email">
    </div>
    <div class="form-group">
      <select formControlName="group" class="form-control">
        <option *ngFor="let group of groups" [ngValue]="group.id">{{ group.name }}</option>
      </select>
      <small [hidden]="groups.length > 0" class="text-danger">You do not have any groups. <a href="#">Create one</a></small>
    </div>
  </form>
  <div *ngIf="hasCustomFields">
    <h5 class="mb-3">Custom Fields</h5>
    <form [formGroup]="customFieldsForm">
      <div *ngFor="let field of customFields" class="form-group">
        <label for={{field.id}}>{{ field.name }}</label>
        <input type="{{field.type}}" formControlName="{{field.id}}" id="{{field.id}}" class="form-control">
      </div>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-lg btn-primary" [disabled]="!allFormsValid" (click)="saveContact()">Save</button>
</div>