<form id="stepper-form" name="stepperForm" class="p-lg-4 p-sm-3 p-0">
  <fieldset>
    <legend>Import contacts by uploading a CSV file.</legend>
    <div class="form-row">
      <label for="csvUpload" class="col-md-2">File</label>
      <div class="col-md-10 mb-3">
        <div class="custom-file">
          <input type="file" (change)="fileAdded($event.target.files)" class="custom-file-input" id="csvUpload" accept=".csv">
          <label class="custom-file-label" for="csvUpload">
            <span [hidden]="!fileLabel">{{ fileLabel }}</span>
            <span [hidden]="fileLabel">Choose File</span>
          </label>
        </div>
        <!-- <small class="text-muted">Upload .csv file</small> -->
      </div>
    </div>
    <hr class="mt-5">
    <div class="d-flex">
      <p class="text-muted">
        
      </p>
      <button type="button" (click)="import()" [disabled]="!fileLabel" class="next btn btn-primary ml-auto">Next</button>
    </div>
  </fieldset>
</form>