.top-bar {
    display: flex;
    display: -ms-flexbox;
    width: 100%;
    height: 3.5rem;
    align-items: stretch;
    -ms-flex-align: stretch;
}

.app-header-dark .top-bar-brand {
    background-color: rgba(20, 20, 31, .12);

    a {
        color: #fff;
    }
}

.top-bar-brand {
    margin-bottom: 0;
    padding: 0 .5rem 0 1rem;
    display: none;
    height: 3.5rem;
    width: 15rem;
    font-size: 1.25rem;
    -ms-flex-align: center;
    align-items: center;

    a {
        img {
            height: 32px;
            width: auto;
        }
    }
}

.top-bar-item,
.top-bar-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.top-bar-list {
    -ms-flex: 1;
    flex: 1;
}

.top-bar-item-full {
    -ms-flex: 1;
    flex: 1;
    font-weight: 500;
    display: none;

    a {
        color: inherit;
    }
}

.top-bar-item {
    padding: 0;
}

.top-bar-item-right {
    margin-left: auto;
}

.btn-account {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    border: 0;
    -ms-flex-wrap: none;
    flex-wrap: none;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    color: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: background-color .15s;
    outline: 0;

    &>.has-badge,
    &>.user-avatar {
        margin-right: .75rem;
    }

    .account-summary {
        margin-right: .75rem;
        display: block;
        text-align: left;
        -ms-flex: 1;
        flex: 1;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
    }

    .account-description {
        font-size: .75rem;
        font-weight: 400;
        opacity: .7;
    }

    .account-description,
    .account-name {
        margin: 0;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 500;
        line-height: 1rem;
    }
}

.user-avatar-md {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 2.25rem;
}

.user-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 4rem;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 4rem;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }
}

@media (min-width: 992px) {
    .top-bar-item {
        padding-left: 2rem;
    }
}

@media (min-width: 768px) {
    .top-bar-brand {
        display: flex;
        display: -ms-flexbox;
    }

    .top-bar-item {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .top-bar-item-full {
        display: inline-flex;
    }

    .d-md-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }
}