<main class="auth">
  <form [formGroup]="passwordResetForm" (submit)="sendResetEmail()" class="auth-form auth-form-reflow">
    <div class="text-center mb-4">
      <div class="mb-4">

      </div>
      <h1 class="h3">Reset Your Password</h1>
    </div>
    <p class="mb-4 text-center">Tempora iusto officia magnam fugiat sequi aliquam cum consectetur aperiam beatae, rerum.</p>
    <div [hidden]="!emailWasSent" class="alert alert-success">
      Password reset email sent
    </div>
    <div class="form-group mb-4">
      <input type="text" formControlName="email" id="lnsEmail" class="form-control form-control-lg" placeholder="Email" required autofocus>
      <p class="text-muted">
        <small>We'll send password reset link to your email.</small>
      </p>
    </div>
    <div class="d-block d-md-inline-block mb-2">
      <button [disabled]="!passwordResetForm.valid" class="btn btn-lg btn-block btn-primary" type="submit">Reset Password</button>
    </div>
    <div class="d-block d-md-inline-block ml-3">
      <a [routerLink]="['/auth/login']"><small>Return to Sign In</small></a>
    </div>
  </form>
</main>