<div class="wrapper">
  <div class="page">
    <div class="page-inner">
      <header class="page-title-bar">
        <div class="d-flex justify-content-between">
          <h1 class="page-title">Contacts</h1>
          <div class="btn-toolbar">
            <button type="button" (click)="addContact()" class="btn btn-sm btn-link">
              <i class="fas fa-plus"></i> Add
            </button>&nbsp;
            <button type="button" (click)="importContacts()" class="btn btn-sm btn-link">
              <i class="fas fa-file-import"></i> Import
            </button>&nbsp;
            <button type="button" class="btn btn-link">
              <i class="fas fa-print"></i> Print
            </button>
          </div>
        </div>
      </header>
      <div class="page-section">
        <div class="card card-fluid">
          <!-- <div class="card-header nav-scroller">
            <ul class="nav nav-tabs card-header-tabs">

            </ul>
          </div> -->
          <div class="card-body">
            <div class="row">
              <div class="col">
                <div class="input-group has-clearable">
                  <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">
                      <i class="fas fa-times-circle"></i>
                    </span>
                  </button>
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fas fa-search"></i>
                    </span>
                  </div>
                  <input type="text" [(ngModel)]="searchText" (input)="filterContacts()" class="form-control" placeholder="Search">
                </div>
              </div>
              <div class="col-auto d-none d-sm-flex">
                <div class="dropdown" dropdown>
                  <button dropdownToggle class="btn btn-sm btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Last Updated
                    <i class="fas fa-caret-down"></i>
                  </button>
                  <div *dropdownMenu class="dropdown-menu dropdown-menu-right stop-propagation">
                    <h6 class="dropdown-header">Sort By</h6>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="sortContactsBy" value="0">
                      <span class="custom-control-label">Name</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="sortContactsBy" value="0">
                      <span class="custom-control-label">Name (Desc)</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="sortContactsBy" value="0" checked>
                      <span class="custom-control-label">Last Updated</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="sortContactsBy" value="0">
                      <span class="custom-control-label">Last Messaged</span>
                    </label>
                    <label class="custom-control custom-radio">
                      <input type="radio" class="custom-control-input" name="sortContactsBy" value="0">
                      <span class="custom-control-label">Last Created</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-muted px-3 mb-2">
            <!-- Showing 10 to 18 of 18 entries -->
          </div>
          <div class="tab-content">
            <div class="list-group list-group-flush list-group-divider">
              <div *ngFor="let contact of filteredContacts" class="list-group-item">
                <div class="list-group-item-figure">
                  <a class="user-avatar user-avatar-md  d-none d-sm-block">
                    <i class="fas fa-address-card"></i>
                  </a>
                </div>
                <div class="list-group-item-body">
                  <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                    <div class="team">
                      <h4 class="list-group-item-title">{{ contact.firstName }} {{ contact.lastName }}</h4>
                      <p class="list-group-item-text">Messaged 1 hour ago</p>
                    </div>
                    <ul class="list-inline text-muted mb-0">
                      <li class="list-inline-item mr-3">
                        
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="list-group-item-figure">
                  <button (click)="sendSMS(contact)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                    <i class="fas fa-sms"></i>
                  </button>
                  <button (click)="sendEmail(contact)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                    <i class="fas fa-envelope"></i>
                  </button>
                  <button (click)="editContact(contact)" class="btn btn-sm btn-icon btn-link stop-propagation d-none d-sm-block">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn btn-sm btn-icon btn-link stop-propagation d-block d-sm-none">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                </div>
              </div>
            </div>
            <ul class="pagination justify-content-center mt-4">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">
                  <i class="fas fa-angle-double-left"></i>
                </a>
              </li>
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Prev</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link">Next</a>
              </li>
              <li class="page-item disabled">
                <a class="page-link">
                  <i class="fas fa-angle-double-right"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>